<div class="row">
  <div class="col s12 m6 l7">
    <!-- Map -->
    <div class="">
      <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
        src="https://www.openstreetmap.org/export/embed.html?bbox=88.37505340576173%2C22.53539059204079%2C88.52886199951173%2C22.64126387804471&amp;"></iframe>
    </div>
  </div>
  <div class="col s12 m6 l5">
    <!-- stats -->
    <div class="container">
      <ul>
        <li>

          <div class="card b valign-wrapper">
            <div class="container k" >
              <p class="left">Total Alerts</p>
              <p class="right"> {{alerts}} </p>
            </div>
          </div>

        </li>
        <li>

            <div class="card b">
              <div class="container k">
                <p class="left">Notification</p>
                <p class="right"> 10 </p>
              </div>
            </div>
  
          </li><li>

            <div class="card b">
              <div class="container k">
                <p class="left">Alert Not Resolved </p>
                <p class="right"> 1 </p>
              </div>
            </div>
  
          </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <!-- Table -->
  <div class="container  b">
    <table class="highlight centered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Last Location</th>
          <th>Device</th>
          <th>Date/Time</th>
          <th>SOS</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Alvin</td>
          <td>Eclair</td>
          <td>$0.87</td>
          <td>Eclair</td>
          <td>$0.87</td>
        </tr>
        <tr>
          <td>Alan</td>
          <td>Jellybean</td>
          <td>$3.76</td>
          <td>Eclair</td>
          <td>$0.87</td>
        </tr>
        <tr>
          <td>Jonathan</td>
          <td>Lollipop</td>
          <td>$7.00</td>
          <td>Eclair</td>
          <td>$0.87</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
